.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.panel {
  height: 500px;
  width: 700px;
  border: solid 1px lightgray;
}

.btn-primary {
  background: blue;
  color: white;
}

.btn-default {
  background: white;
  color: blue;
}